@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR:wght@100..400&display=swap');

.Jenet {
    font-family: "Playwrite HR", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.Text  {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  


.MenuDuo{
    background-image: url("src/assets/img/pngwing.com (10).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}